
@import 'swiper/css/bundle';
@tailwind base;
@tailwind components;
@tailwind utilities;




/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #F7F7F8;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #bababa;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #8d8d8d;
}